@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poetsen+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
    background-image: url("../imag/login.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
    display: flex;
    width: 100vw;
}

.login {
    display: flex;
    width: 100vw;
    justify-content: center; 
}

.input{
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box{
    width: 50%;
    height: 85vh;
    /* background-color: red; */
    max-width: 1200px;
}


.primera-parte {
    background-color: #222222;
    text-align: center;
    color: #B8977E;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 30vh;
    padding: 3vh 2vw;
}

.primera-parte #bienvenida{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: #B8977E;
}

.primera-parte .titulo{
    margin: 30px;
    color: white;
}


.primera-parte .titulo p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 18px;
    color: #ffffffb0;
}

.primera-parte .descripcion{
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 12px;
    color: #B8977E;
}

.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cont label{
    margin-bottom: 5px;
}

.segunda-parte {
    width: 100%;
    height: 50vh;
    background-color: #D9D9D9;
    padding: 3vh 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
}

.segunda-parte label {
    align-self: flex-start;
    text-align: center;
    color: #494949;
    font-style: italic;
    margin-top: 1vh;
    font-size: 10px;
    font-family: 'Archivo Black', sans-serif;
    font-weight: bold;
}

.segunda-parte input {
    width: 100%;
    padding: 0.8vh 1vw;
    border: none;
    border-radius: 25px;
    margin-bottom: 1vh;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.9);
}

.segunda-parte input:focus {
    outline: none;
    border: 2px solid  #875E4B;;
    background-color: #fff;
}

.segunda-parte button {
    background-color: #B8977E;
    color: #000;
    font-weight: bold;
    padding: 1.2vh 2vw;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 1vh;
    margin-bottom: 2vh;
    width: 50%;
    font-size: 0.8rem;
    transition: background-color 0.3s ease;
}

img{
    height: 10vh;
}

.segunda-parte button:hover {
    background-color: #333;
    color: #c7a17a;
    transition: all 0.3s ease;
}

.segunda-parte p {
    color: black;
    margin-top: 1vh;
    font-size: 0.9rem;
    margin-bottom: 2vh;
}

.segunda-parte a {
    color: #816148;
    text-decoration: underline;
}

.segunda-parte a:hover{
    color: #4c3019;
}

.texto {
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgba(0,0,0,0.527);
    color: white;
    font-size: 2.5rem;
    color: #B8977E;
    font-weight: bold;
}

.texto:hover{
    background-color: rgba(0, 0, 0, 0.629);
    font-size: 2.8rem;
    transition: all 0.3s ease;
}

.texto:hover #sesion{
    /* background-color: rgba(0,0,0,0.7); */
    font-size: 4rem;
    transition: all 0.3s ease;
}

#iniciar{
    color: #846752;
}

#sesion{
    font-size: 3.5rem;
}

@media(max-width: 1400px){
    .login {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .login .texto {
        display: none;
    }

    .login .input {
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    .primera-parte, .segunda-parte {
        width: 100%;
    }

    .primera-parte .titulo {
        font-size: 4vw;
    }

    .primera-parte #bienvenida {
        font-size: 6vw;
    }

    html, body {
        height: 120%;
    }

    .segunda-parte p{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}