*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inicioMarcus, .inicioMarcusMovil {
    position: relative;
    padding: 0px;
    margin: 0px;
    border: none;
    background-color: #fff;

    img {
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 0px;
    }

    button {
        position: absolute;
        left: 27%;
        bottom: 20%;
        transform: translate(-50%, 50%);
        color: white;
        background-color: rgba(255, 240, 240, 0);
        padding: 1vw 4vw;
        font-size: 1.2vw;
        font-weight: 100;
        border: 3px solid #875E4B;
        transition: all 0.3s ease;
    }

    button:hover {
        background-color: #6b441d38;
        cursor: pointer;
        /* font-weight: 900; */
        font-size: 1.3vw;
    }
}

.hero {
    width: 100%;
    height: 15vh;
    max-height: 100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

  .hero1{
		width: 25vw;
	}
	.hero2{
		width: 40vw;
	}

	.hero1, .hero2 {
    max-height: 60%;
    width: auto; /* Elimina el ancho relativo */
    object-fit: contain; /* Mantiene proporciones sin deformar */
  }

}


.carrusel {
	background-color: #060606;
	/* background-color: #49eaff; */
	display: flex;
	flex-direction: row;
  height: 500px;
  justify-content: space-around;

	.herramientas{
		height: 100%;
	}

}

.car2{
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  width: 40%;
  align-items: center;
}

.textoCar{
  /* background-color: #875E4B; */
  text-align: left;
  width: 100%;
  padding-top: 20px;
  font-size: 1.4rem;
}

.slider.autoplay {
  width: 100%;
  height: 90%;
  overflow: hidden;
  position: relative;
  background-color: #060606;
  /* background-color: green; */

}

.slide-track {
  display: flex;
  width: 100%;
  height: 100%;
  animation: slide 30s infinite;
  /* background-color: red; */
}

.slide {
  display: flex;
  width: 100%;
  height: 100%;
  flex-shrink: 0;

  .medio {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


    .box {
      margin: 20px;
      background-color: #0A0A0A;
      width: 80%;
      height: 80%;
      border-radius: 20px;
      display: flex;
      flex-direction: column;

     .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px;
        height: 100%;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        font-style: italic;
        font-size: 1.1rem;
        font-weight: 100;
        overflow: hidden;
      }


      .content p {
        margin-bottom: 1rem;
      }

      .autor {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin-top: auto;
        font-style: normal;
        font-size: 0.9rem;

        img {
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 50%;
        }

        h3 {
          text-align: left;
          font-weight: 600;
          font-size: 0.9rem;
        }
      }

    }

  }
}

.slide img {
  height: 100%;
  object-fit: cover;
}

@keyframes slide {
  0%   { transform: translateX(0%); }       /* Slide 1 */
  16%  { transform: translateX(0%); }

  20%  { transform: translateX(-50%); }     /* Slide 2 */
  36%  { transform: translateX(-50%); }

  40%  { transform: translateX(-100%); }    /* Slide 3 */
  56%  { transform: translateX(-100%); }

  60%  { transform: translateX(-150%); }    /* Slide 4 */
  76%  { transform: translateX(-150%); }

  80%  { transform: translateX(-200%); }    /* Slide 5 */
  100% { transform: translateX(-200%); }
}

.inicioMarcus{
  display: flex;
}

.inicioMarcusMovil{
  display: none;
}

.Arte{
  background-color: #24231F;
  padding: 20px;

  .textoArte{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    h2{
      font-size: 2rem;
    }
    p{
      font-size: 1rem;
      font-weight: 100;
      margin-top: 10px;
    }
  }
}
.Expertos{
  background-color: #000000;
  padding:  20px;
  

.TextoExpertos{
  display: flex;
    flex-direction: column;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  h2{
    font-size: 28px;
  }
  p{
      font-size: 1rem;
      font-weight: 100;
      margin-top: 10px;
    }
  } 
}
.Cuadro_maestro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.cuadro_estilista {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cuadro_estilista img {
  width: 230px;
  height: 230px;
  object-fit: cover;
  border-radius: 4px;
  margin: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.cuadro_cambio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cuadro_cambio img {
 margin-top: 20px;
  width: 230px;
  height: 330px;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nombre_estilista {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin-top: 15px;
  color: #4b4949;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.Cambios{
  background-color: #242424;
  padding:  20px;
.TextoCambios{
  display: flex;
    flex-direction: column;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  h2{
    font-size: 28px;
  }
  p{
      font-size: 1rem;
      font-weight: 100;
      margin-top: 10px;
    }
  } 
}
.Ventas{
  background-color: white;
  padding:  20px;
.TextoVentas{
  display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  h2{
    font-size: 28px;
  }
  p{
      font-size: 1rem;
      font-weight: 100;
      margin-top: 10px;
    }
  } 
}
.top-ventas {
  text-align: center;
  padding: 40px 20px;
  background-color: #f8f8f8;
}

.top-ventas h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
  color: #222;
  border-bottom: 3px solid #c19c64;
  display: inline-block;
  padding-bottom: 10px;
}

.Cuadro_ventas {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.producto {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  width: 250px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  h3{
  font-size: 1.2em;
  margin: 15px 0 5px;
  color: #333;
  }
  img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  }
  p {
  font-size: 1em;
  color: #888;
  }
}

.producto:hover {
  transform: translateY(-5px);
}
.contenedor-boton {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  padding-right: 40px;
}

.imgsArte {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch; 

  .cuadroExtra, .cuadro {
    width: 25%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .cuadro img,
  .cuadroExtra img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 25px;
  }

  .cuadro {
    .subcuadros {
      width: 100%;
      height: 48%;
      display: flex;
      justify-content: space-between;
      flex-direction: row;

      .mini {
        width: 48%;
        height: 100%;
      }
    }
  }
}


@media (max-width: 1000px) {

  .herramientas{
    display: none;
  }

  .car2{
    width: 80%;
  }

  .content p{
    font-size: 0.9rem;
  }

  .hero {
    width: 100%;
    height: 13vh;
    max-height: none;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;


    .hero1, .hero2 {
      height: 40%;
      max-height: 60%;
      width: auto; /* Elimina el ancho relativo */
      object-fit: contain; /* Mantiene proporciones sin deformar */
    }
  }

  .textoCar{
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .inicioMarcus{
    display: none;
  }

  .inicioMarcusMovil{
    display: flex;

    button {
      position: absolute;
      left: 50%;
      bottom: 60%;
      transform: translate(-50%, 50%);
      color: white;
      background-color: rgba(255, 240, 240, 0);
      padding: 4vw 7vw;
      font-size: 4vw;
      font-weight: 100;
      border: 3px solid #875E4B;
      transition: all 0.3s ease;
    }

    button:hover {
      background-color: #6b441d38;
      cursor: pointer;
      font-size: 4vw;
    }
  }

  .imgsArte{ /*cuadro rojo*/
    height: auto; /*alto*/
    flex-direction: column; 
    align-items: center;
    padding: 20px;
    
    .cuadro{ /*cuadro verde*/
      width: 95%;
      height: 900px;
      max-height: 300px;
    }

    .cuadroExtra{ /*cuadro morado*/
      width: 50%;
    }
  }
}
